# Core AI & Orchestration
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
langchain_community
langchain_huggingface
openai

# UI & Environment Setup
streamlit
python-dotenv
pyngrok

# Vector Database & Embeddings
chromadb
langchain-chroma
sentence-transformers
numpy
faiss-cpu

# Data Processing
pandas

# Data Ingestion Tools
requests
datasets

# Semantic Caching
redis

# Model Context Protocol (MCP) Infrastructure
mcp
fastmcp
