# Core AI & Orchestration
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
langchain_community
langchain_huggingface

# UI & Environment Setup
streamlit
python-dotenv
pyngrok

# Vector Database & Embeddings
chromadb
langchain-chroma
sentence-transformers
numpy

# Data Processing
pandas

# Data Ingestion Tools
requests
datasets

# Semantic Caching
redis
